{% extends 'base.html.twig' %}

{% block title %}New JobAssigned{% endblock %}

{% block body %}
    <h1>Create new JobAssigned</h1>

    {{ include('job_assigned/_form.html.twig') }}

    <a href="{{ path('job_assigned_index') }}">back to list</a>
{% endblock %}
