@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');







li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

nav {
    background-color: black;
}