{% extends 'base.html.twig' %}

{% block title %}About Page{% endblock %}

{% block body %}

    <br>
    <br>

<h1>Why Tradesmate?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget consequat eros. Sed vel elit vestibulum, interdum nulla in, pharetra tellus. Pellentesque tincidunt leo eu porta ultricies. Nulla eget est aliquam nisl aliquet consequat. Ut posuere nisi lacus. Vestibulum nec porttitor turpis, vitae posuere lectus. Duis pulvinar eros sit amet lectus sodales, quis blandit arcu euismod. Pellentesque bibendum viverra elit, vel dignissim massa consequat vel. </p>

    <div>
        <div>
            <button class="button">

                <a href="{{ path('default') }}">Back</a>
            </button>
        </div>
    </div>


    <style>
        a {
            text-decoration: none;

            display: inline-block;
            padding: 8px 16px;
        }
        .button {
            position: absolute;
            bottom: 10px;
            left: 10%;
            margin-left: -104.5px; /*104.5px is half of the button's width*/
        }

        h1{
            float: left;
        }

        p{
            float:left;
        }
    </style>

{% endblock %}



