{% extends 'base.html.twig' %}

{% block title %}Job Dashboard{% endblock %}

{% block head %}

<head>



</head>

{% endblock %}



{% block body %}

    <h1>Job Dashboard</h1>

    {% if is_granted('ROLE_CLIENT') %}
    <button><a href="{{ url('job_client_index', { 'id':app.user.id }) }}" >View My Open Jobs</a></button>

    <br>
        <br>
    <button><a href="{{ path('job_new') }}">Create new Job</a></button>

    {% endif %}
    <br>
    <br>
    {% if is_granted('ROLE_TRADEPERSON') %}
        <button><a href="{{ path('job_index') }}">View All Jobs You Can Apply For</a></button>

    {% endif %}

{% endblock %}
