{% extends 'base.html.twig' %}

{% block title %}Electrical Page{% endblock %}

{% block body %}




    <h3>Looking For Someone To Do Electrical Work? </h3>
    <br>
    <h5>We offer TradeMates to carry out a variety of jobs</h5>


    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed hendrerit purus, sed gravida justo. Vivamus ac congue orci. Ut vestibulum ut felis convallis imperdiet. Donec nisl nibh, venenatis eu eros vel, convallis ornare elit. Pellentesque luctus hendrerit lorem, a feugiat sapien vehicula nec.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed hendrerit purus, sed gravida justo. Vivamus ac congue orci. Ut vestibulum ut felis convallis imperdiet. Donec nisl nibh, venenatis eu eros vel, convallis ornare elit. Pellentesque luctus hendrerit lorem, a feugiat sapien vehicula nec.</p>

{% endblock %}
