{% extends 'base.html.twig' %}

{% block title %}Favourited Tradesmen{% endblock %}

{% block head %}

<head>


</head>

{% endblock %}

{% block body %}
<h1>Favourite Tradesmen</h1>
    <p>The Tradesmen you favourite will be added to a list on this page so you can contact them for future jobs.</p>


    <br>
    <br>
    <br>










{% endblock %}
