{% extends 'base.html.twig' %}

{% block title %}Job Dashboard{% endblock %}

{% block head %}

<head>



</head>

{% endblock %}



{% block body %}


    <div class="tm">
        <img src="{{ asset('build/TMBanner.png') }}"height="350" width="1200"></a>
    </div>






    <style>
        a {
            text-decoration: none;

            display: inline-block;
            padding: 8px 16px;
        }
        .button {
            position: absolute;
            bottom: 10px;
            left: 10%;
            margin-left: -104.5px; /*104.5px is half of the button's width*/
        }
        .test{
            height:1000px;

        }


    </style>
{% endblock %}
