{% extends 'base.html.twig' %}

{% block title %}Plumbing Page{% endblock %}

{% block body %}
<body>
<br>
<br>
{#    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('search') }}">#}
{#        <div class="input-group">#}
{#            <input type="text" class="form-control" placeholder="Search" name ="search">#}
{#            <span class="input-group-btn">#}
{#            <button type="submit" class="btn btn-default"></button>#}
{#          </span>#}
{#        </div>#}
{#    </form>#}




<br>
<br>




    <h3>Here is a list of TradesMates who specialize in Plumbing: </h3>
    <table>
        <thead>
        <tr>

            <th>Email</th>

            <th>Trade</th>


        </tr>
        </thead>
        <tbody>{% for user in users%}
            {% if user.trade == 'Plumbing' %}
        <tr>
            <td>{{ user.email}}</td>

            <td>{{ user.trade }}</td>

        </tr>



{% endif %}

        {% endfor %}</tbody>


    </table>

    <br>
    <br>

</body>


{% endblock %}
