{% extends 'base.html.twig' %}

{% block title %}Admin Home{% endblock %}

{% block body %}
    <h1>Admin Homepage</h1>


    <br>
    <br>
    <h5>Users:</h5>
    <a href ="{{asset('/user')}}">
        <button type="button">View Users Crud</button></a>


    <br>
    <br>
    <h5>Jobs:</h5>
    <a href ="{{asset('/job')}}">
        <button type="button">View Job Crud</button></a>



    <br>
    <br>
    <h5>Trades:</h5>
    <a href ="{{asset('/trade')}}">
        <button type="button">View Trade Crud</button></a>


    <br>
    <br>
    <h5>Timeslots:</h5>
    <a href ="{{asset('/timeslots')}}">
        <button type="button">View Timeslots Crud</button></a>

{% endblock %}
