{% extends 'base.html.twig' %}

{% block title %}Logged In CLient{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            Welcome back  {{ app.user.username }}...
        </div>
    {% endif %}
{% endblock %}
